body {
  margin: 2px;
  width: 20rem;
  /* width: 18rem; */
  background-image: linear-gradient(rgba(156, 156, 156, 0.7), rgba(0, 0, 0, 0.7)), url(images/heeyyyyyyaaaaaaaaaaa.jpg);
  background-position: center;
  background-size: cover;
  border: thin rgba(0, 0, 0, 0.2) solid;
}


ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 1rem 0;
}

li {
  padding: 0.25rem;
}

li:nth-child(odd) {
  background: #80808030;
}

li:nth-child(even) {
  background: #ffffff;
}

h3,
p {
  box-sizing: border-box;
  font-size: 12px;
  font-stretch: expanded;
  padding-right: 50%;
  width: 90%;
  /* background: black; */
  margin: 0;
  letter-spacing: 4px;
}

/* .togglecolumn {
  background: black;
  background-color: black;
} */
.container {
  padding-top: 5px;
}

.titleRow {
  width: 100%;
  text-align: center;
  font-family: 'Arial Narrow Bold', sans-serif;
  background: rgba(0, 0, 0, 0.2);
  font-size: 19px;
}

.titleRow::after {
  content: '';
  width: 90%;
  height: 1%;
  background: linear-gradient( #ff99b7, #ff6062);
  position: absolute;
  left: 6%;
  top: 90px;
  opacity: 70%;
  border-radius: 50%;
}

h1 {
  padding-top: 0px;
  margin-top: 0px;
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.switch-title {
  font-family: Helvetica, sans-serif;
  padding-left: 6%;
}

/* The switch - the box around the slider */
.switchwrapper{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 1%;
  margin: .6%;
  background: white;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff99b7;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 50%;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ff99b7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(160px);
  -ms-transform: translateX(160px);
  transform: translateX(160px);
}

#uwu::before {
  font-family: 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  text-align: right;
  box-sizing: border-box;
  content: "UWU";
  color: #ff99b7;
  /* text-align: center; */
  padding-top: 5px;
}

#yarr::before {
  font-family: 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  text-align: right;
  box-sizing: border-box;
  content: "Pirate";
  color: #ff99b7;
  /* text-align: center; */
  padding-top: 5px;
}

#waggh::before {
  font-family: 'Arial Narrow Bold', sans-serif;
  letter-spacing: 10px;
  text-align: right;
  box-sizing: border-box;
  content: "ORk";
  color: #ff99b7;
  /* text-align: center; */
  padding-top: 5px;
}